body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Light background color */
}

.weather-container {
  text-align: center;
  background-color: #fff; /* White background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  max-width: 320px;
  width: 100%;
  margin: 20px;
}

h2 {
  color: #333; /* Darker text color */
}

.search-box {
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.weather-info {
  margin-top: 20px;
}

.weather-icon img {
  width: 50px; /* Adjust as needed */
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.location {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
}

.weather {
  font-size: 18px;
  margin-top: 10px;
}
